.ui header .ui-title {
    margin-right: 10% !important;
    margin-left: 10% !important;
}

.ui-btn {
    text-overflow: ellipsis;
    overflow: visible !important;
    white-space: normal !important;
}

h1 {
    text-overflow: ellipsis;
    overflow: visible !important;
    white-space: normal !important;
}

.delete-button {
    color: blue;
    float: right;
    border: 1px solid black;
    padding: 0 3px;
    cursor: pointer;
}
